* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3EAE3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 600px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.card-image {
  max-width: 300px;
  width: 300px;
  height: 450px;
  max-height: 450px;
}

.card-image > picture > img {
  max-width: 100%;
  max-height: 100%;
}

.card-description {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #FFFFFF;
  padding: 26px;
  overflow-y: auto;
}

.perfume {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 18px;
}

.title {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  padding-right: 10px;
  margin-bottom: 24px;
}

.description {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  padding-right: 10px;
  font-weight: 500;
  margin-bottom: 28px;
  line-height: 25px;
}

.prices {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.price {
  font-family: 'Fraunces', serif;
}

.sale {
  color: hsl(158, 36%, 37%);
  margin-right: 20px;
}

.old-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
}

.button {
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 12px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: hsl(158, 34%, 27%);
}

.cart, .button-text {
  vertical-align: middle;
}

.cart {
  margin-right: 10px;
}

.button-text {
  font-weight: 700;
}

@media (max-width: 644px) {
  .card {
    flex-direction: column;
    width: 310px;
  }

  .card-image {
    height: auto;
    min-width: 100%;
    width: 100%;
    margin-bottom: -5px;
  }

  .card-description {
    width: auto;
  }

  .title {
    padding-right: unset;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .description {
    padding-right: unset;
    margin-bottom: 14px;
    font-size: 12px;
  }

  .perfume {
    margin-bottom: 10px;
  }

  .prices {
    margin-bottom: 16px;
  }
}